html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

section.content {
    width: 250px;
    height: 250px;
    border: 2px dotted green;
    margin: 0 auto;
}

section.content p {
    width: 100%;
    padding: 20px;
    border: 2px solid blue;
}