.site-header {
    background-color: #E6E3DE;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.site-header a {
    color: #554938;
}

.site-logo {
    margin-left: 2em;
    font-size: 2em;
}

.site-nav ul,
.nav-aside {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.site-nav ul,
.nav-aside {
    list-style: none outside;
}

.site-nav li:not(:last-child),
.nav-aside li:not(:last-child) {
    margin-right: 0.3em;
}

.site-nav li,
.nav-aside li {
    margin-bottom: 0.2em;
}

.site-nav a,
.nav-aside a {
    display: block;
    padding: 1em;
}

.nav-aside {
    margin-right: 2em;
}

.nav-aside .nav-btn {
    color: white;
    background-color: #554938;
    border: 1px solid #554938;
    padding: 0.5em 1em;
}