html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

body,
form,
input,
textarea,
select,
option {
    font: inherit;
}

body {
    padding: 2rem 4rem;
}

.site-header {
    border-bottom: 2px solid rgb(0, 0, 0);
    display: flex;
}

.site-title {
    text-transform: uppercase;
    font-size: 2.6rem;
    flex-grow: 1;
}

.site-nav ul {
    display: flex;
    align-content: flex-end;
}

.site-nav ul li {
    list-style-type: none;
    margin-left: 0.5rem;
}

.site-nav ul a {
    display: block;
    text-decoration: none;
    padding-left: 1rem;
    color: rgb(0, 153, 0);
}

h1 {
    margin-bottom: 2rem;
}

p {
    margin-bottom: 1rem;
}