    html {
        font: 16px/1.5 Helvetica, Verdana, sans-serif;
    }
    
    body,
    form,
    input,
    textarea,
    select,
    option,
    table {
        font: inherit;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h5 {
        font-family: Georgia, serif;
        line-height: 1.2;
        padding-bottom: 0.5em;
        font-weight: normal;
    }
    
    h1 {
        font-size: 2.5em;
    }
    
    h2 {
        font-size: 2.1em;
    }
    
    h3 {
        font-size: 1.75em;
    }
    
    h4 {
        font-size: 1.45em;
    }
    
    h5 {
        font-size: 1.2em;
    }
    
    h6 {
        font-size: 1em;
    }
    
    p {
        padding-bottom: 1.5em;
    }
    
    @media (min-width:1281px) {}
    
    @media (min-width:961px) {
        .site-header,
        nav.site-nav ul {
            display: flex;
            flex-direction: row;
        }
    }
    
    @media (max-width:641px) {
        .site-header {
            display: flex;
            flex-direction: column;
        }
        nav.site-nav {
            border-top: 2px solid black;
            border-radius: 0;
        }
        nav.site-nav ul {
            flex-wrap: wrap;
        }
        nav.site-nav ul li {
            flex-basis: 100%;
            display: block;
            margin: 0.25rem 0.2rem;
        }
        div#nav-toggle {
            display: block;
        }
    }
    
    @media (max-width:500px) {
        .site-title {
            align-self: center;
        }
    }