html {
    font-family: 'Helvetica', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

html {
    box-sizing: border-box;
    height: 100%;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

* {
    padding: 0;
    margin: 0;
}

body,
form,
input,
textarea,
select,
option {
    font: inherit;
}

body {
    background-color: #EEE;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    background-color: #FFF;
    max-width: 22rem;
    border-radius: 0.3rem;
    box-shadow: 1px 0 15px 5px rgba(0, 0, 0, 0.3);
    padding: 0.5rem 1rem 1.5rem 0.5rem;
}

.card-title {
    margin-bottom: 0.4rem;
}