html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

body,
form,
input,
textarea,
select,
option {
    font: inherit;
}

.container {
    margin: 1rem;
    background-color: grey;
    padding: 15rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    height: 50vh;
}

.item {
    padding: 1rem;
    border: 1px solid black;
    background-color: red;
    color: white;
    flex: 1 1 20%;
}