@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant&display=swap');
html {
    font-family: Lato, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

body {
    padding: 5rem;
}

ul li {
    list-style-type: square;
}

ul li ul li {
    list-style-type: disc;
}

ul li ul li ul li {
    list-style-type: circle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Cormorant, serif;
    line-height: 1.2;
    font-weight: bold;
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.6rem;
}