@import url('./reset.css');
@import url('./typography.css');
.site {
    max-width: 65vw;
    margin: 0 auto;
}

table {
    table-layout: fixed;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    margin-top: 1rem;
}

th,
td {
    border: 1px solid #ccc;
    padding: 0.37rem;
}

th {
    color: white;
    background-color: black;
    font-weight: normal;
}

tr:nth-of-type(odd) {
    background: #eee;
}

tr:hover td {
    background-color: #f3f3f3;
}

tr:hover th {
    background-color: rgba(0, 0, 0, 0.9);
}

tr:hover th:not(:last-child) {
    border-right: 1px solid transparent;
}

tr:hover td:not(:last-child) {
    border-right: 1px solid transparent;
}

@media (max-width: 600px) {
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }
    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    tr {
        margin: 0 0 1rem 0;
    }
    tr:nth-child(odd) {
        background: #ccc;
    }
    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }
    td::before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 4px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        font-weight: bold;
    }
    /*
		Label the data
    You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
		*/
    td:nth-of-type(1):before {
        content: "First Name";
    }
    td:nth-of-type(2):before {
        content: "Last Name";
    }
    td:nth-of-type(3):before {
        content: "Job Title";
    }
}