html {
    font: 16px/1.5 'Gelasio', serif;
}

body,
form,
input,
textarea,
select,
option,
table,
button {
    font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
}

h1 {
    font-size: 2.6em;
}

h2 {
    font-size: 2.2em;
}

h3 {
    font-size: 1.8em;
}

h4 {
    font-size: 1.6em;
}

h5 {
    font-size: 1.4em;
}

h6 {
    font-size: 1.2em;
}

@media(max-width: 1024px) {
    html {
        font-size: 14px;
    }
}

@media(max-width: 650px) {
    html {
        font-size: 12px;
    }
}