@import url('./reset.css');
@import url('./typography.css');
@import url('./layout.css');
@import url('./navigation.css');
@import url('./sections.css');
@import url('./elements.css');
body {
    background-color: white;
}

a {
    text-decoration: none;
}

.site-header {
    background-color: white;
    background-image: radial-gradient(white 10px, transparent 16px), repeating-radial-gradient(#f8f8f8 0, #f8f8f8 3px, transparent 3px, transparent 20px, #f8f8f8 21px, #f8f8f8 17px, transparent 21px, transparent 37px);
    background-size: 30px 30px, 90px 90px;
    background-position: 0 0;
}

.site-branding a:focus {
    color: purple;
}

.site-title {
    color: purple;
    font-size: 2.1rem;
    font-family: Georgia, serif;
}

.site-description {
    text-transform: uppercase;
    font-size: 0.77rem;
    line-height: 1.2;
    letter-spacing: -1px;
}

.site-title,
.site-description {
    margin: 0;
}

.btn {
    border: 2px solid black;
    border-radius: 0.3rem;
    padding: 0.5rem 0.8rem;
    font-size: 0.9rem;
    color: black;
    background-color: transparent;
}

.btn:hover,
.btn:focus {
    color: white;
    background-color: purple;
    border: 2px solid purple;
    cursor: pointer;
    transition: 0.3s;
}

.btn:focus {
    text-decoration: underline;
}

.btn-inverse {
    border: 2px solid white;
    border-radius: 0.3rem;
    padding: 0.5rem 0.8rem;
    font-size: 0.9rem;
    color: black;
    background-color: white;
}

.btn-inverse:hover,
.btn-inverse:focus {
    color: white;
    background-color: purple;
    border: 2px solid white;
    cursor: pointer;
    transition: 0.3s;
}

.nav-bars {
    color: purple;
    cursor: pointer;
    border: 1px solid purple;
    padding: 0.7em;
    border-radius: 0.15em;
    font-size: 1.1em;
}

.nav-toggle-btn:hover .nav-bars,
.nav-toggle-btn:focus .nav-bars {
    color: white;
    background-color: purple;
    transition: 0.3s;
}